.navbar.navbar-default.navbar-static-top
  .container
    %a.navbar-brand(href="/")

      %p
        =image_tag("eCommerce-icon.png", width: "52px")
        = "eCommerce"
        %b  Demo
    .spacer{style: "width: 150px; height: 10px; float: left;"}
    %ul.nav.navbar-nav.navbar-left
      %li

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Select Category
          %span.caret
        %ul.dropdown-menu 
          %li
            %a{:href => "/"} All
          - Category.all.each do |category|
            %li
              %a{:href => "/products?category=#{category.id}"}= category.name
    %form.navbar-form.navbar-left{:role => "search"}
      .form-group
<<<<<<< HEAD
        %input.form-control{:placeholder => "Search", :type => "text"}
=======
        %input.form-control{:placeholder => "Search", :type => "text"}/
      %button.btn.btn-default{:type => "submit"} Submit
>>>>>>> f4667346d4ad90a1aa13a01b52d6a8b712e5de31
    %ul.nav.navbar-nav.navbar-right
      - if (!current_user)
        %li
          %a{:href => new_user_session_path} Sign In
      - else
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %span.glyphicon.glyphicon-user
            = current_user["email"]
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => gateway_cards_path} My Wallet
            %li.divider{:role => "separator"}
            %li=link_to('Logout', destroy_user_session_path, :method => :delete)