- case @payment.status
  - when "pending"
  - when "approved"

  - when "authorized"
  - when "in_process"
  - when "in_mediation"
  - when "rejected"
  - when "cancelled"
  - when "refunded"
  - when "charged_back"