.container-fluid
  .row.show-product
    %h1.title-detail= preference.product.name
    %hr
    .col-md-6= image_tag(preference.product.picture, width: "100%")
    .col-md-1
    .col-md-5
      %p.body-detail #{preference.product.description}
      %hr
      .form-container
        = render partial: 'form'