@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'products';
@import 'carts';
@import 'sales';
@import 'slick/slick.css';
@import 'slick/slick-theme.css';

body {
  background-color: #FFCF6E;
}

@font-face {
  font-family: helvetica-light;
  src: url("/assets/HelveticaLight.ttf");
}

$bgDefault      : rgba(255, 255, 255, 0.92);
$bgHighlight    : #fff;
$colDefault     : #333;
$colHighlight   : #333;
.navbar-default {

  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  -webkit-box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.2);

  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.float-right {
  float: right;
}

.text-align {
  text-align: right;
}

.ecommerce-container {
  padding-top: 80px;

  .panel-footer {
    text-align: center;
  }

  table.cart {
    font-size: 12px;
  }
}

.mt-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-21 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.show-product {
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

.title-detail {
  font-family: "Times New Roman";
}

%h1.title-detail {
  font-size: 42px;
}

.body-detail {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'helvetica-light';
  color: #888;
  font-size: 12px;
}




.ribbon {
  position: absolute;
  right: 10px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.debug-panel {
  display: block;
  background-color: white;
  position: fixed;
  right: 0px;
  height: 100%;
  z-index: 10;
  width: 50%;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
  padding: 10px;

  h5 {
    text-align: center;
    margin-top: -20px;
  }

  .debub-body {
    display: block;
    padding: 10px;
    border-radius:5px;
    margin: 5px;
    margin-top: 30px;
    -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.59);
    box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.59);
    height: 55%;
    overflow: auto;
  }
  .debug-console {

    height: 35%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.closed {
  right: -50%;
}

.debug-panel:before {
  cursor:pointer;
  pointer-events:auto;
  background-color: white;
  content: "MercadoPago Debug Inspector";
  border: solid 1px white;
  padding: 5px;
  left: -120px;
  top: 100px;
  position: relative;
  display: block;
  font-size: 11px;
  font-weight: 500;
  width: 200px;
  text-align: center;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -webkit-box-shadow: 0px -4px 3px 0.8px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -4px 3px 0.8px rgba(0,0,0,0.25);
  box-shadow: 0px -4px 3px 0.8px rgba(0,0,0,0.25);
  padding: 10px;
}


.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
  font-size: 11px;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background: white; /* same with body background */
  height: auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}

.cart-panel {
  position: fixed;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
  width: 250px;
}