-#.row
-#  .col-md-12
-#    .carousel
-#      .header-item{style: "background-image: url('/assets/header1.jpg');"}
-#      .header-item{style: "background-image: url('/assets/header2.png');"}
#masonry-container
  = render partial: 'grid'

:javascript

  var actual_page = 2
  var pages_visited = []


  $(function(){
    $('#masonry-container').masonry(
    );

    $(document).scroll(function(){
      var currY = $(this).scrollTop();
      var postHeight = $(this).height();
      var scrollHeight = window.innerHeight;
      var scrollPercent = (currY / (postHeight-scrollHeight)) * 100;

      if (scrollPercent > 90){

        if (pages_visited.indexOf(actual_page) == -1 ) {

          console.log(pages_visited);

          $.get('/products?page=' + actual_page, function(data) {



          virtual_div = document.createElement('div');
          $(virtual_div).html(data);

          console.log(virtual_div);

          elements = $(virtual_div).find(".grid-item");

          $(elements).each(function(el){
            $el = $(this);
            $('#masonry-container').append($el).masonry('appended', $el);
          });
          actual_page = actual_page + 1


        });

        }
        pages_visited.push(actual_page)
      }


    });

  });

  $('.carousel').slick({
    slidesToShow: 1,
    infinite: true,
  });



